<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Sellers</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/bouquets.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/bouquets.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Bouquets</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">From stunning hydrangeas and roses to vibrant seasonal bouquets,
                             our range of beautiful blooms are perfect for brightening the home and celebrating life’s special moments.
                              Whatever the occasion, say it with flowers, all with free nominated day delivery. Discover our wide selection of gorgeous flowers today!</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/plants.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/plants.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Plants</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">From stylish succulents to beautiful peace lilies, brighten up your home with our range of indoor plants.
                             Looking to update your outdoor space? Discover our wide range of planters,
                              including pansies and hyacinths and trees like bay and lavender.</p>
                    </div>
                </div>
            </li>
        
        </ul>
    </div>
</div>